

@model ECommerce_Ackcio.Services.PopulateData

@{
    ViewData["Title"] = "Home";
}


<!-- //https://stackoverflow.com/questions/21754071/templates-can-be-used-only-with-field-access-property-access-single-dimension-->
<div class="container">
    <div class="row">
        <div class="col"></div>


        <div class="col-8 content-data">

            <p>
                <a asp-action="Create">Create New</a>
            </p>

            <table class="table center">

                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var product in Model.GetProductList())
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Quantity</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@product.ID">Edit</a> | <a asp-action="Delete" asp-route-id="@product.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="col"></div>
    </div>

</div>
